:root {
	@media screen(4xl) {--border:250px; }
	@media screen(3xl) {--border:250px; }
	@media screen(2xl) {--border:250px; }
	@media screen(xl) {--border:250px; }
	@media screen(lg) {--border:250px; }
	@media screen(md) {--border:250px; }
	@media screen(sm) {--border:250px; }
	@media screen(xs) {--border:250px; }
}

