@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/theme/font.css");
@import url("@/theme/variables.css");
@import url("@/theme/spacing.css");
@import url("@/theme/scrollbar.css");

html {
  scroll-behavior: smooth;
  color: white;
}

* {
  line-height: 1;
}